body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#clock {
  width: 600px;
  height: 600px;
  margin: auto;
  text-align: center;
  position: relative;
}

#clock img {
  position: absolute;
  top: 0;
  left: 0;
}

#face {
  z-index: 1;
}

#hour {
  z-index: 10;
}

#minute {
  z-index: 100;
}

#second {
  z-index: 1000;
}
